<a href="https://colab.research.google.com/github/NasrinMokhtarian/Zoomcamp-2025./blob/main/batch_processing/codes/homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pyspark, pandas as pd
from pyspark.sql import SparkSession, types, functions as F
spark = SparkSession.builder.master('local[*]').appName('module5').getOrCreate()

#Q1:
spark.version

In [ ]:
spark.version

'3.5.5'

In [ ]:
df_y = spark.read.parquet('data/yellow_tripdata_2024-10.parquet')
df_y.repartition(4).write.parquet('data/homework/yellow_2024_10','overwrite')
df_y.printSchema()

root
  ###### |-- VendorID: integer (nullable = true)
  ###### |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 ###### |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 ###### |-- passenger_count: long (nullable = true)
 ###### |-- trip_distance: double (nullable = true)
 ###### |-- RatecodeID: long (nullable = true)
 ###### |-- store_and_fwd_flag: string (nullable = true)
 ###### |-- PULocationID: integer (nullable = true)
 ###### |-- DOLocationID: integer (nullable = true)
 ###### |-- payment_type: long (nullable = true)
 ###### |-- fare_amount: double (nullable = true)
 ###### |-- extra: double (nullable = true)
 ###### |-- mta_tax: double (nullable = true)
 ###### |-- tip_amount: double (nullable = true)
 ###### |-- tolls_amount: double (nullable = true)
 ###### |-- improvement_surcharge: double (nullable = true)
 ###### |-- total_amount: double (nullable = true)
 ###### |-- congestion_surcharge: double (nullable = true)
 ###### |-- Airport_fee: double (nullable = true)

###Q2:
Read the October 2024 Yellow into a Spark Dataframe.
Repartition the Dataframe to 4 partitions and save it to parquet.
What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)? Select the answer which most closely matches.

1.  6MB
2.  25MB
3.  75MB
4.  100MB



> answer is :100MB

In [ ]:
df_y.registerTempTable('trip_data')

In [ ]:
#Q4:
trips=spark.sql("""
select count(*) from trip_data where day(tpep_pickup_datetime)=15
""").show()

128893

In [ ]:
#Q5:
longest_trip=spark.sql("""
select  MAX((UNIX_TIMESTAMP(tpep_dropoff_datetime)-UNIX_TIMESTAMP(tpep_pickup_datetime))/3600) as longest_trip
from trip_data

""").show()

162.61777777777777

In [ ]:
df_zone = spark.read.option('header','true').csv('taxi_zone_lookup.csv')
df_join = df_y.join(df_zone,df_y.PULocationID==df_zone.LocationID)
df_join.show()
df_join.registerTempTable('joined')

In [ ]:
#Q6:
spark.sql("""
select Zone, count(tpep_pickup_datetime) as frequency
from joined
group by Zone
order by 2
""").show()

Governor's Island...